<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "CALORIES COUNTER", root_path, class: "navbar-brand", style: "background-color: transparent !important;"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Meals', meals_path, class: "nav-link", style: "background-color: transparent !important;" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Users', users_path, class: "nav-link", style: "background-color: transparent !important;" %>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "background-color: transparent !important;">
              Your Profile <%= "Admin" if logged_in?(:site_admin) %><span class="caret">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style = "background-color: transparent !important;">
              <a class="dropdown-item" href="#" style = "background-color: transparent !important;"><%= link_to "Edit your profile", edit_user_path(current_user) if logged_in?(:site_admin, :user_manager) %></a>
              <a class="dropdown-item" href="#" style = "background-color: transparent !important;"><%= link_to "View your profile", user_path(current_user) if logged_in?(:site_admin, :user_manager, :user) %></a>
          </div>
        </li>
      </ul>
      <% if user_signed_in? %>
        <li class="btn">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-xs btn-danger" %>
          </li>
      <% end %>
      </div>
    </div>
  </div>
</nav>

